@{
    ViewData["Title"] = "Menu";
}

<div class="row flex-wrap justify-content-center">
    <div class="card w-25 ml-3 mt-3">
        <div class="card-body">
            <div class="card-title">Ingresar cliente</div>
            <a href="/Cliente/Index" class="btn btn-info form-control">Ingresar</a>
        </div>
    </div>
    <div class="card w-25 ml-3 mt-3">
        <div class="card-body">
            <div class="card-title">Hacer prestamo</div>
            <a href="/Cliente/Prestamo" class="btn btn-info form-control">Empezar</a>
        </div>
    </div>
    <div class="card w-25 ml-3 mt-3">
        <div class="card-body">
            <div class="card-title">Refinanciamiento</div>
            <a href="/Cliente/Pago" class="btn btn-info form-control">Empezar</a>
        </div>
    </div>
    <div class="card w-25 ml-3 mt-3">
        <div class="card-body">
            <div class="card-title">Consulta de movimientos</div>
            <a href="/Cliente/Transacciones" class="btn btn-info form-control">Empezar</a>
        </div>
    </div>
</div>
